{% load static %}

{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'bootstrapi.min.css' %}">
<h1><strong> Ingresa aqui los datos solicitados: </strong></h1>
<br>
<form  style="color: #ffffff;"method="POST" action="">
    {% csrf_token %}

    <div style="background-color: #03a9f4;">
        <div style="width: 75%; margin:auto;">

        {{ form|crispy}}
        <br>


        <button type="submit" class="btn btn-primary mt-5"> Login </button> &nbsp;&nbsp;  <a href= "{% url 'usuario' %}" class="btn btn-primary mt-5">Registrate</a>
        </div>
    </div>


    
</form>