{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<div class="container">
    <table  class="table table-bordered table-info mt-5 text-center">
        <thead> 
            <tr>
            
            
            <th>URL</th>
            
                
            </tr>
            
        </thead>
        <tbody>
            <tr>
                
                <td ><a style="color: white;" href="{{ detail_documents.url }}" >{{ detail_documents.url }} </a></td>
                
                
                
                   
            </tr>
            
        </tbody>
        
    
</div>

