
{% load static %}





<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <h1 style="text-align: center;"> SUBE TUS DOCUMENTOS</h1>
    
    <div style="text-align: right; margin-right: 100px;">
        {% if user.is_authenticated %}

        Hola , {{user.username}} &nbsp; &nbsp; <a style="color: black;" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>

        {% else %}

        <a href="{% url 'login' %}">LOGIN</a>

        {% endif %}
    </div>

    <nav style="background-color: #03a9f4;" class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainvav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="create">Documentos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div  class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="">Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="">Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="">Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="">Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="">Inicio</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <br>
    </br>
 
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="boton btn-success"> Buscar</button>

                            </span>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>
    <div class="container">
        
        
        <table  class="table table-bordered table-info mt-5 text-center">
            
        <thead>
            <tr>
            
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Autor</th>
            <th>Fecha de publicación</th>
            <th>Detalles</th>
            
                
            </tr>
            
        </thead>
        <tbody>
            {% for Documents in documentos %}
                <tr>
                    
                    <td> {{ Documents.title }}</td>
                    <td> {{ Documents.description }}</td>
                    <td> {{ Documents.author }}</td>
                    <td> {{ Documents.publication_date }}</td>
                    
                     <td>
                        <a href="{% url 'aplication:detail' Documents.id %}" class="btn btn-danger m-1">Ver URL</a> 
                        <!--<a href="{% url 'aplication:update' Documents.id %}" class="btn btn-success m-1">Editar</a>
                        <a href="{% url 'aplication:delete' Documents.id %}" class="btn btn-primary m-1">Eliminar</a> -->

                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        <a  href="{% url 'aplication:create' %}"  class="btn btn-primary mt-5">Crear Nuevo</a>


    </div>




    
    
